/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: 0 5px 20px rgba(0, 41, 112, 0.1);
    position: sticky;
    top: 0;
    height: 65px;
    z-index: 10;
    background-color: #fff;
  }
  
  .navul {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  .navli {
    font-size: 18px;
    font-weight: 700;
  }
  
  .navbtn {
    width: 110px;
    padding: 8px 0px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #00baf2;
    color: white;
  }
  .nav-links{
    display: flex;
    gap: 170px;
    align-items: center;
  }

  .mainlogo{
    width: 200px;
  }
  
  /* Hamburger Menu styles */
  .hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  /* Media Queries for responsiveness */
  @media (min-width:320px) and (max-width: 768px) {
    .navul {
      display: none; /* Hide the ul on smaller screens */
      flex-direction: column;
      gap: 10px;
      background-color: #fff;
      position: absolute;
      top: 60px; /* Adjust as needed to position the menu */
      right: 30px;
      padding: 20px;
      box-shadow: 0 5px 20px rgba(0, 41, 112, 0.1);
      border-radius: 8px;
    }
    nav{
      padding: 0px 10px;
    }
    
   .mainlogo{
    width: 150px;
   }
    .nav-links.open .navul {
      /* Show the ul when the menu is open */
      display: flex;
      width: 100%;
      left: 0;
      align-items: center;
      height: 50vh;
      justify-content: space-evenly;
      /* gap: 30px; */
    }
  
    .navli {
      font-size: 16px; /* Decrease font size for smaller screens */
    }
    .navli:hover{
        background-color: #f6f6f6;
        padding: 10px 20px;
        cursor: pointer;
    }
  
    .navbtn {
      display: none; /* Hide the button on smaller screens */
    }
  
    .hamburger-menu {
      display: block; /* Show the hamburger icon on smaller screens */
    }
  
    /* Styles for the "X" icon when the menu is open */
    .hamburger-menu .bar:nth-child(1).open {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .hamburger-menu .bar:nth-child(2).open {
      opacity: 0;
    }
  
    .hamburger-menu .bar:nth-child(3).open {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  