
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Lexend&display=swap');

body {

  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pp{
  height: 48px;
  background: #f6f6f6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
}
